<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new item</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p class="mb-3">
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
        dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac
        consectetur ac, vestibulum at eros.
      </p>
      <p class="mb-3">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<a href="#">
  <div class="box">
    <div class="start">
      <div class="start-title">
        Add a start trigger
        <br />
        {{ title }} - {{ id }}
      </div>
      <div class="start-content">
        <small>{{ description }}</small>
      </div>
    </div>
  </div>
</a>
<a href="#" (click)="open(content)">
  <div class="pointer">
    <span class="addnewicon" data-blockid="24" data-direction="-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        fill="currentColor"
        class="bi bi-plus"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
    </span>
  </div>
</a>

<div class="row">
  <div class="col-lg-6">
    <ng-template #formTemplateLeft></ng-template>
  </div>
  <div class="col-lg-6">
    <ng-template #formTemplateRight></ng-template>
  </div>
</div>


<!-- <div class="row">
  <div class="col-lg-3">
    <div class="card card-margin card-rounded">
      <div class="card-body">
        <div class="widget-4">
          <svg
            style="width: 30px"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="play-circle"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-play-circle fa-w-16 fa-3x"
          >
            <path
              fill="currentColor"
              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"
              class=""
            ></path>
          </svg>
          <div class="widget-4-title">
            id: {{ id }}
            <br />
            {{ title }}<small>{{ description }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-margin card-rounded">
      <div class="card-body">
        <div class="widget-4">
          <svg
            style="width: 30px"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="play-circle"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-play-circle fa-w-16 fa-3x"
          >
            <path
              fill="currentColor"
              d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"
              class=""
            ></path>
          </svg>
          <div class="widget-4-title">
            id: {{ id }}
            <br />
            {{ title }}<small>{{ description }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #divsss></div>
  <ng-template #formTemplate2></ng-template>
  ssss
</div> -->
